---
- import_tasks: ubuntu.yml
  when: ansible_os_family == "Debian"

- name: Install the necessary packages
  pip:
    name: ['pymongo', 'requests', 'numpy', 'tqdm']
    executable: pip3

- name: Ensure group "collector" exists
  group:
    name: "{{ module_user }}"
    state: present

- name: Create the system user collector
  user:
    name: "{{ module_user }}"
    group: "{{ module_user }}"
    home: "/opt/{{ module_user }}"
    create_home: yes
    move_home: yes
    system: yes
    shell: /bin/bash

- name: Append the collector user with the required groups
  user:
    name: "{{ module_user }}"
    groups: opmon,collector
    append: yes

- name: Copy the collector code to the install folder and fix the file permissions
  copy:
    src: "{{SOURCE}}/collector_module"
    dest: "{{APPDIR}}/{{INSTANCE}}"
    group: opmon
    remote_src: yes
    mode: preserve

- name: Update the settings file
  template:
    src: "roles/collector/templates/settings.py.j2"
    dest: "{{APPDIR}}/{{INSTANCE}}/collector_module/settings_{{INSTANCE}}.py"

- name: Create the symlink
  file:
    src: "{{APPDIR}}/{{INSTANCE}}/collector_module/settings_{{INSTANCE}}.py"
    dest: "{{APPDIR}}/{{INSTANCE}}/collector_module/settings.py"
    group: opmon
    state: link
    follow: yes

- name: Fix the symlink permissions
  file:
    path: "{{APPDIR}}/{{INSTANCE}}/collector_module/settings_{{INSTANCE}}.py"
    group: opmon
    mode: "0775"


- name: Adjust the collector module permissions
  file:
    path: "{{APPDIR}}/{{INSTANCE}}/collector_module"
    recurse: yes
    owner: "{{ module_user }}"
    group: "{{ module_user }}"
    state: directory
    mode: "0500"

- name: Fix executing permissions on .sh files
  shell: "find  {{APPDIR}}/{{INSTANCE}}/collector_module/ -name '*.sh' -type f | sudo xargs chmod u+x"

- name: Ensure the collector job runs every 3 hours."
  cron:
    name: "Collector"
    user: "{{ module_user }}"
    minute: "0"
    hour: "*/{{ cron_interval }}"
    job: "export APPDIR=\"{{APPDIR}}\"; export INSTANCE=\"{{INSTANCE}}\"; cd ${APPDIR}/${INSTANCE}; ./collector_module/cron_collector.sh update >> logs/cron_collector.log"
