---
# This playbook installs an X-Road v6 monitor environment to the defined host inventory from a remote package repository

- hosts: database
  become: yes
  become_user: root
  roles:
    - database
  vars_files:
    - vars_files/remote_repo.yml
    - vars_files/passwords.yml
    - vars_files/database.yml

- hosts: collector
  become: yes
  become_user: root
  roles:
    - collector
  vars_files:
    - vars_files/opmon_config.yml
    - vars_files/passwords.yml
    - vars_files/database.yml

- hosts: corrector
  become: yes
  become_user: root
  roles:
    - corrector
  vars_files:
    - vars_files/opmon_config.yml
    - vars_files/passwords.yml
    - vars_files/database.yml